django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
mysqlclient

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
langchain-openai
langgraph
pypdf
pymupdf
sentence-transformers
chromadb
typesense
